@{
    ViewData["Title"] = "Home Page";
}
@section Stylesheets{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
}

<div class="">
    <select id="DMPick" >
        <option value="day">Daily</option>
        <option value="month">Monthly</option>
    </select>
    <input type="date" class="picker" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" id="date" />
    <select id="CAType" class="picker">
        <option>Corporation</option>
        <option>Alliance</option>
    </select>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    Corporation
                </th>
                <th>
                    Kills
                </th>
                <th>
                    Losses
                </th>
                <th>
                    ISK killed
                </th>
                <th>
                    ISK lost
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                scrollY: 650,
                scrollX: 1000,
                "deferRender": true,
                "lengthMenu": [30, 60, 120],
                pageLength: 30,
                ajax: "/api/Aggregate/corporation/day/@DateTime.UtcNow.ToString("yyyy-MM-dd")",
                "order": [[3, "desc"]],
                columns: [
                    {
                        render: function (data, type, row) {
                            var catype = $("#CAType").val() == "Corporation" ? "corporations" : "alliances";
                            var zkcatype = $("#CAType").val() == "Corporation" ? "corporation" : "alliance";
                            var caid = $("#CAType").val() == "Corporation" ? row.corporationID : row.allianceId;
                            var caname = $("#CAType").val() == "Corporation" ? row.corporation.corporationName : row.alliance.allianceName;
                            return '<a href="https://zkillboard.com/' + zkcatype + '/' + caid + '/" target="_Blank"><img height="24px" src="https://images.evetech.net/' + catype + '/' + caid + '/logo?size=32"/> ' + caname + '</a>';
                        }
                    },
                    { "data": "killsTotal" },
                    { "data": "lossesTotal" },
                    {
                        "data": "iskKilledTotal",
                        render: $.fn.dataTable.render.number(',', '.', 0, '',' ISK')
                    },
                    {
                        "data": "iskLostTotal",
                        render: $.fn.dataTable.render.number(',', '.', 0, '', ' ISK') }

                ]
            });
            DMPick

            $(".picker").change(function () {
                table.ajax.url("/api/Aggregate/" + $("#CAType").val() + "/" + $("#DMPick").val() + "/" + $("#date").val()).load();

            })

            $("#DMPick").change(function () {
                if ($("#DMPick").val() == "month") {
                    $("#date")[0].type = "month";
                    $("#date")[0].value = getMonth();
                } else {
                    $("#date")[0].type = "date";
                    $("#date")[0].value = getDay();
                }
                table.ajax.url("/api/Aggregate/" + $("#CAType").val() + "/" + $("#DMPick").val() + "/" + $("#date").val()).load();

            })
        });


        function getDay() {
            var date = new Date();
            var mm = date.getUTCMonth()+1;
            return date.getUTCFullYear() + "-" + IntWithZero(mm) + "-" + IntWithZero(date.getUTCDate())
        }

        function getMonth() {
            var date = new Date();
            var mm = date.getUTCMonth() + 1;
            return date.getUTCFullYear() + "-" + IntWithZero(mm)
        }

        function IntWithZero(mm) {
            if (mm < 10) {
                mm = '0' + mm;
            }
            return mm;
        }

    </script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
}
