@{
    ViewData["Title"] = "Home Page";
}
@section Stylesheets{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
}

<div class="">
    <table id="whdata" class="table table-dark table-striped table-bordered whdata" style="width:100%">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Name
                </th>
                <th>
                    K/D
                </th>
                <th>
                    Kills
                </th>
                <th>
                    Losses
                </th>
                <th>
                    ISK K/L
                </th>
                <th>
                    ISK Killed
                </th>
                <th>
                    ISK Lost
                </th>
                <th>
                    Damage Dealt
                </th>
                <th>
                    Damage Taken
                </th>
                <th>
                    R
                </th>
                <th>
                    D
                </th>
                <th>
                    C
                </th>
                <th>
                    F
                </th>
                <th>
                    A
                </th>
                <th>
                    F
                </th>
                <th>
                    K
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        var date = "@DateTime.UtcNow.ToString("yyyy- MM - dd")";
    </script>
    <template id="cattemp">
        <select id="CAType" class="picker form-control form-control-sm"><option>Corporation</option><option>Alliance</option></select>
    </template>
    <template id="dmptemp">
        <select id="DMPick" class="form-control form-control-sm">
            <option value="day">Daily</option>
            <option value="month">Monthly</option>
        </select>
    </template>
    <template id="dptemp">
        <input type="date" class="picker form-control form-control-sm" id="date" />
    </template>
    <template id="ChildTemplate">
        <div class="card border-success" style="max-width: 15rem;display:inline-block;vertical-align:top;">
            <div class="card-header">Info</div>
            <div class="card-body">
                <table display:inline;">
                    <tr>
                        <td>Name</td>
                        <td>{corporation.name}</td>

                    </tr>
                    <tr>
                        <td>Ticker:</td>
                        <td>{corporation.ticker}</td>
                    </tr>
                    <tr>
                        <td>Member count:</td>
                        <td>{corporation.memberCount}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card border-success" style="max-width: 50rem;display:inline-block;vertical-align:top;">
            <div class="card-header">Kill Data</div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kills</th>
                            <th>Losses</th>
                            <th>ISK Killed</th>
                            <th>ISK Lost</th>
                            <th>Damage dealt</th>
                            <th>Damage Taken</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total:</td>
                            <td>{killsTotal}</td>
                            <td>{lossesTotal}</td>
                            <td>{iskKilledTotal}</td>
                            <td>{iskLostTotal}</td>
                            <td>{damageDealtTotal}</td>
                            <td>{damageTakenTotal}</td>
                        </tr>
                        <tr>
                            <td>Pod:</td>
                            <td>{killsPod}</td>
                            <td>{lossesPod}</td>
                            <td>{iskKilledPod}</td>
                            <td>{iskLostPod}</td>
                            <td>{damageDealtPod}</td>
                            <td>{damageTakenPod}</td>
                        </tr>
                        <tr>
                            <td>Sub cap:</td>
                            <td>{killsSubCap}</td>
                            <td>{lossesSubCap}</td>
                            <td>{iskKilledSubCap}</td>
                            <td>{iskLostSubCap}</td>
                            <td>{damageDealtSubCap}</td>
                            <td>{damageTakenSubCap}</td>
                        </tr>
                        <tr>
                            <td>Capital:</td>
                            <td>{killsCapital}</td>
                            <td>{lossesCapital}</td>
                            <td>{iskKilledCapital}</td>
                            <td>{iskLostCapital}</td>
                            <td>{damageDealtCapital}</td>
                            <td>{damageTakenCapital}</td>
                        </tr>
                        <tr>
                            <td>Structure:</td>
                            <td>{killsStructure}</td>
                            <td>{lossesStructure}</td>
                            <td>{iskKilledStructure}</td>
                            <td>{iskLostStructure}</td>
                            <td>{damageDealtStructure}</td>
                            <td>{damageTakenStructure}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card border-success" style="max-width: 15rem;display:inline-block;vertical-align:top;">
            <div class="card-header">Capital</div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kills</th>
                            <th>Losses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rorqual:</td>
                            <td>{rorqualKills}</td>
                            <td>{rorqualLosses}</td>
                        </tr>
                        <tr>
                            <td>Dread:</td>
                            <td>{dreadKills}</td>
                            <td>{dreadLosses}</td>
                        </tr>
                        <tr>
                            <td>Carrier:</td>
                            <td>{carrierKills}</td>
                            <td>{carrierLosses}</td>
                        </tr>
                        <tr>
                            <td>Faxes:</td>
                            <td>{faxesKills}</td>
                            <td>{faxesLosses}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        <div class="card border-success" style="max-width: 25rem;display:inline-block;vertical-align:top;">
            <div class="card-header">Structure</div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kills</th>
                            <th>Losses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Medium structure:</td>
                            <td>{mediumStructureKills}</td>
                            <td>{mediumStructureLosses}</td>
                        </tr>
                        <tr>
                            <td>Large structure:</td>
                            <td>{largeStructureKills}</td>
                            <td>{largeStructureLosses}</td>
                        </tr>
                        <tr>
                            <td>XL structure:</td>
                            <td>{xlStructureKills}</td>
                            <td>{xlStructureLosses}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
</template>
    <script src="~/js/DataTable.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
}
